.toolbar .toolbar-bar .toolbar-icon-toolbar-menu-tb_manage.toolbar-icon-system-admin-config:hover::before {
  background: #fff;
}

.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-menu::before {
  background-color: var(--colorGinIcons);
}

.tb-media-gin-icon::before {
  background-color: transparent !important;
}

.toolbar-icon-system-admin-media.tb-media-gin-icon--media-grid::before {
  background-image: url(../images/icons/777883/grid.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  mask-image: none !important;
  -webkit-mask-image: none !important;
}

.toolbar-icon-system-admin-media:hover.tb-media-gin-icon--media-grid::before {
  background-image: url(../images/icons/3275e0/grid.svg) !important;
}
